---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "博客";
---
<BaseLayout {pageTitle}>
    <h1>博客-{pageTitle}</h1>
    <p>欢迎来到博客页面！这里是一些关于我们网站的信息。</p>

    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} />)}
    </ul>
</BaseLayout>